*.pyc
.*.swp
*~
django/intranet/local_settings.py
django/intranet/private_settings.py
django/intranet/.ve
django/intranet/distribute-*.tar.gz
reports/*
.settings/*
.pydevproject
.DS_Store
/.metadata
/.settings
django/intranet/admin-source
django/intranet/django-source
django/intranet/search_index
django/intranet/uploads
doc
