[submodule "django/jcc"]
	path = django/jcc
	url = git://github.com/aptivate/jcc.git
[submodule "django/python-tika"]
	path = django/python-tika
	url = git://github.com/aptivate/python-tika.git
[submodule "django/django-tables2"]
	path = django/django-tables2
	url = git://github.com/aptivate/django-tables2.git
[submodule "django/intranet/binder"]
	path = django/intranet/binder
	url = git://github.com/aptivate/intranet-binder.git
[submodule "django/intranet/documents"]
	path = django/intranet/documents
	url = git://github.com/aptivate/intranet-documents.git
[submodule "django/intranet/search"]
	path = django/intranet/search
	url = git://github.com/aptivate/intranet-search.git
