[submodule "django/django-tables2"]
	path = django/django-tables2
	url = git://github.com/aptivate/django-tables2.git
[submodule "django/intranet/binder"]
	path = django/intranet/binder
	url = git://github.com/aptivate/intranet-binder.git
[submodule "django/intranet/documents"]
	path = django/intranet/documents
	url = git://github.com/aptivate/intranet-documents.git
[submodule "django/intranet/search"]
	path = django/intranet/search
	url = git://github.com/aptivate/intranet-search.git
[submodule "django/haystack2"]
	path = django/haystack2
	url = git://github.com/aptivate/django-haystack.git
[submodule "django/tables2"]
	path = django/tables2
	url = git://github.com/aptivate/django-tables2.git
[submodule "django/intranet/aptivate_monkeypatch"]
	path = django/intranet/aptivate_monkeypatch
	url = git://github.com/aptivate/aptivate-monkeypatch.git
[submodule "django/intranet/aptivate_monkeypatches"]
	path = django/intranet/aptivate_monkeypatches
	url = git://github.com/aptivate/aptivate-monkeypatches.git
[submodule "django/intranet/theme"]
	path = django/intranet/theme
	url = git://github.com/aptivate/intranet-theme.git
[submodule "django/intranet/logframe"]
	path = django/intranet/logframe
	url = git://github.com/aptivate/intranet-logframe.git
