{% extends 'default_layout.dhtml' %}

{% block title %}
	Log in
{% endblock %}

{% block heading %}
	Log in
{% endblock %}

{% block body %}
	{% if form.errors %}
		<div class="error-message">Please check your user name and password
			and try again.</div>
	{% endif %}
	
	<form method="post">
		{% csrf_token %}
		<input type="hidden" name="next" value="/" />
		<input type="hidden" name="this_is_the_login_form" value="1" />
		<table class="ruled">
			<tr>
				<th><label for="id_username">User name</label></th>
				<td>{{ form.username }}</td>
			</tr>
			<tr>
				<th><label for="id_password">Password</label></th>
				<td>{{ form.password }}</td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td><input type="submit" value="Login" /></td>
			</tr>
		</table>
	</form>
{% endblock %}