h1
{
	color: black;
}

.tabs.level1
{
	background: white url(/static/admin/img/admin/nav-bg-reverse.gif) 0 -10px repeat-x;
}

h1, .tabs.level1 li a, .tabs.level1 td
{
	background-color: #ccc;
}

.tabs.level1 li a, .tabs.level1 td
{
	border: 1px outset #eee;
	border-bottom: 1px solid black;
}

table.tabs.level1 td.padding, table.tabs.level1 td.padding:hover
{
	background-color: inherit;
	border-style: inherit;
} 

ul.tabs.level1 li.selected a,
table.tabs.level1 td.selected,
ul.tabs.level1 li.selected:hover a,
table.tabs.level1 td.selected:hover,
ul.tabs.level2
{
	background-color: white;
}

ul.tabs.level1 li a:hover,
table.tabs.level1 td:hover
{
	background-color: #ddd;
}

ul.tabs.level1 li.selected a,
table.tabs.level1 td.selected
{
	border-bottom: none;
}

ul.tabs.level2 li a
{
	background-color: #ddd;
}

ul.tabs.level2 li.selected a
{
	background-color: white;
	border-bottom-color: white;
}

table.ruled > thead > tr > th,
table.ruled > tbody > tr > th,
table.ruled > caption
{
	border-color: #ccc;
	background-color: #eee;
}

table.ruled > caption
{
	border-top: 1px solid #ccc;
}

table.ruled
{
	border-color: #eee;
}

table.ruled > tbody > tr > td
{
	border-color: #ddd;
	background: white;
}

table.ruled > tbody > tr.alt > td
{
	background-color: #eee;
}

table.ruled > tbody > tr.errors > th
{
	background-color: #fdd;
}

table.ruled > tbody > tr.errors > td 
{
	background-color: #fee;
}

table.ruled tr.errors td.fields-cell
{
	padding-right: 1em;
}

table.ruled tr.errors td.errors-cell
{
	border-left: 2px solid #daa;
	padding-left: 1em;
}

table.edit tr.errors td.errors-cell ul.errorlist
{
	margin: 0;
}

table.search-options ul
{
	padding: 0;
	list-style-type: none;
}

table.search-options li
{
	display: inline;
}