h1
{
	margin: 0px;
	padding: 10px;
	border-style: solid none;
	border-width: 1px;
	border-color: black;
}

.tabs
{
	margin: 0;
	border-bottom: 1px solid black;
	list-style: none;
}

.tabs li
{
	display: inline;
	margin: 0;
	padding: 0;
	position: relative;
	top: 1px;
}

.tabs td
{
	white-space: nowrap;
	position: relative;
	top: 1px;
}

.tabs td.padding
{
	border: none;
	width: 100%;
}

ul.tabs li a, table.tabs td
{
	margin: 0;
	border: 1px solid black;
	padding: 0.5em 1em;
	text-decoration: none;
	color: black;
}

.tabs a:hover
{
}

.tabs .selected a
{
}

ul.tabs.level1
{
	padding: 1em 10px 0.5em;
}

table.tabs.level1
{
	padding: 0.5em 0.5em 0;
	border-spacing: 0.5em 0;
}

.tabs.level1 a
{
	padding: 0.5em 1em;
}

.tabs.level2
{
	padding: 1em 10px 0.2em;
	font-size: small;
}

.tabs.level2 a
{
	padding: 0.2em 0.4em;
}

.tabs.level2 a:hover
{
	background-color: white;
}

.tabs.level2 .selected a
{
	background-color: white;
	border-bottom: 1px solid white;
}

table.ruled
{
	margin: 1em 0;
	border-collapse: collapse;
}

table.ruled > thead > tr > th,
table.ruled > tbody > tr > td,
table.ruled > tbody > tr > th
{
	border-style: solid none;
	border-width: 1px;
	vertical-align: middle;
	padding: 0.2em 1em;
}

table.ruled > thead > tr > th,
table.ruled > tbody > tr > th
{
	/*border-right:  1px solid white;*/
	text-align: left;
	vertical-align: bottom;
}

table.ruled > tbody > tr > tr.alt > td
{
}

table.ruled > tbody > tr > td a
{
	text-decoration: none;
	color: #408;
}

table.ruled > tbody > tr > td a:hover
{
	text-decoration: underline;
}

table.ruled > tbody > tr > td,
table.ruled > tbody > tr > th
{
	padding: 0.2em 1em;
}

table.ruled > tbody > tr > td,
table.ruled > tbody > tr > th
{
	vertical-align: middle;
}

form
{
	padding: 0;
	margin: 0;
}

div.warning-message, div.success-message, div.error-message, ul.errorlist
{
	color: black;
	padding: 0.5em;
	margin: 1em;
}

div#warning-message
{
	border: 2px solid #fc8;
	background: #ffd;
}

div.success-message
{
	border: 2px solid #8f8;
	background: #dfd;
}

div.error-message, ul.errorlist
{
	padding: 8px 8px 8px 40px;
	border: 2px solid #fcc;
	background: #fdd url(../images/warning.png) no-repeat 8px;
}

ul.errorlist
{
	list-style-type: none;
}

div.formError
{
	margin: 0.5em 0 0;
	padding: 4px 4px 4px 32px;
	background: #fdd url(../images/warning.png) no-repeat 4px;
}

div.error-message, div.formError
{
	border: 2px solid #fbb;
}

li.search-box form,
li.search-box ul
{
	display: inline;
	padding: 0;
}

table.fields-box p /* read-only field */
{
	margin: 0;
}