{% extends 'default_layout.dhtml' %}

{% block title %}
	Search
{% endblock %}

{% block heading %}
	Search
{% endblock %}

{% block body %}
	<form method="get" action=".">
		<table class="ruled">
			<tr>
				<th>Containing Text</th>
				<th>Types</th>
				<th></th>
			</tr>
			<tr>
				<td>{{ form.q }}</td>
				<td class="search-models">{{ form.models }}</td>
				<td><input type="submit" value="Search"></td>
			</tr>
		</table>

		{% if query %}
			<h3>Results</h3>

			{% if page.object_list %}
				<table class="ruled">
				{% for result in page.object_list %}
					<tr>
						<th>{{ result.verbose_name }}</th>
						<td>{{ result.pk }}</td>
						<td><a href="{{ result.object.get_absolute_url }}">{{ result.title }}</a></td>
						<td>{{ result.score }}</td>
					</tr>
				{% endfor %}
				</table>
			{% else %}
				<p>No results found.</p>
			{% endif %}

			{% if page.has_previous or page.has_next %}
				<div>
					{% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
					|
					{% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
					|
					{{ count }} results
				</div>
			{% endif %}
			
		{% else %}
			{# Show some example queries to run, maybe query syntax, something else? #}
		{% endif %}
	</form>
{% endblock %}
