{% extends 'default_layout.dhtml' %}

{% block extrastyle %}
	<script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="/static/js/jquery.multiSelect.js"></script>
	<script type="text/javascript" src="/static/js/jquery.bgiframe.min.js"></script>
	<link rel="stylesheet" href="/static/js/jquery.multiSelect.css" />
	<script type="text/javascript">
		jQuery(document).ready(function()
		{
			opts = { selectAll: false, selectNone: true };
			$("#id_programs").multiSelect(opts);
			$("#id_document_types").multiSelect(opts);
		});
	</script>
{% endblock %}

{% block title %}
	Search
{% endblock %}

{% block heading %}
	Search
{% endblock %}

{% block body %}
	<form method="get" action=".">
		<table class="search-options ruled">
			<tr>
				<th>Containing Text</th>
				<th>Programs</th>
				<th>Document Types</th>
				<th></th>
			</tr>
			<tr>
				<td>{{ form.q }}</td>
				<td class="search-programs">{{ form.programs }}</td>
				<td class="search-doctypes">{{ form.document_types }}</td>
				<td><input type="submit" value="Search" /></td>
			</tr>
		</table>

		{% if is_real_search %}
			<h3>Results</h3>

			{% if page.object_list %}
				<table class="ruled">
					<thead>
						<tr>
							{% for header in result_headers %}<th scope="col"{{ header.class_attrib }}>
							{% if header.sortable %}<a href="{{ header.url }}">{% endif %}
							{{ header.text|capfirst }}
							{% if header.sortable %}</a>{% endif %}</th>{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for result in page.object_list %}
							<tr>
								<th>{{ result.verbose_name }}</th>
								<td>{{ result.pk }}</td>
								<td><a href="{{ result.object.get_absolute_url }}">{{ result.title }}</a></td>
								<td>{{ result.score }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% comment %}
					{% result_list change_list %}
				{% endcomment %}
			{% else %}
				<p>No results found.</p>
			{% endif %}

			{% if page.has_previous or page.has_next %}
				<div>
					{% if page.has_previous %}
						<button type="submit" name="page" value="{{ page.previous_page_number }}">
							&laquo; Previous
						</button>
					{% else %}
						&laquo; Previous
					{% endif %}
					|
					{% if page.has_next %}
						<button type="submit" name="page" value="{{ page.next_page_number }}">
							Next &raquo;
						</button>
					{% else %}
						Next &raquo;
					{% endif %}
					|
					{{ count }} results
				</div>
			{% endif %}
			
		{% else %}
			{# Show some example queries to run, maybe query syntax, something else? #}
		{% endif %}
	</form>
{% endblock %}
